<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd
import numpy as np

In [3]:
# load uncleaned data

df = pd.read_csv(r"C:\Users\aly98\Desktop\res DSMP\web scraping sellenium\psl project\Data Extraction BeautifulSoup\Bowlers_uncleaned_Data.csv")
df.head()

,Unnamed: 0,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
0,0,Anwar Ali,3.0,1,21,1,7.00,11,4,0,2,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Islamabad United
1,1,Anwar Ali,4.0,0,33,2,8.25,7,2,1,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Karachi Kings
2,2,Anwar Ali,4.0,0,38,1,9.50,10,1,2,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Peshawar Zalmi
3,3,Anwar Ali,4.0,0,27,1,6.75,10,2,1,1,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Lahore Qalandars
4,4,Anwar Ali,2.1,0,10,1,4.61,10,2,0,1,0,2016.0,Sharjah Cricket Stadium,Quetta Gladiators,Islamabad United

In [4]:
df.sample(10)

,Unnamed: 0,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
1912,64,Faheem Ashraf,3.0,0,28,1,9.33,9,1,3,1,0,2024.0,Rawalpindi Cricket Stadium,Islamabad United,Lahore Qalandars
2437,2,Mohammad Hasnain,4.0,0,34,1,8.50,11,5,1,1,0,2019.0,"Sheikh Zayed Stadium, Abu Dhabi",Quetta Gladiators,Peshawar Zalmi
2772,21,Rashid Khan,4.0,0,15,3,3.75,9,0,0,0,0,2023.0,"Gaddafi Stadium, Lahore",Lahore Qalandars,Multan Sultans
1606,11,Kieron Pollard,3.0,0,15,0,5.00,4,0,0,0,0,2019.0,Dubai International Cricket Stadium,Peshawar Zalmi,Multan Sultans
903,28,Shahid Afridi,3.0,0,25,0,8.33,7,3,1,0,0,2019.0,Dubai International Cricket Stadium,Multan Sultans,Karachi Kings
148,54,Mohammad Nawaz,3.0,0,41,0,13.66,2,3,3,0,0,2021.0,"National Stadium, Karachi",Quetta Gladiators,Islamabad United
1299,6,Dwayne Smith,0.2,0,6,0,18.00,1,0,1,0,0,2019.0,Dubai International Cricket Stadium,Quetta Gladiators,Islamabad United
421,11,Mohammad Amir,4.0,0,41,0,10.25,7,3,3,0,0,2017.0,Sharjah Cricket Stadium,Karachi Kings,Peshawar Zalmi
1310,9,Amad Butt,4.0,0,40,3,10.00,8,2,2,4,0,2019.0,"Sheikh Zayed Stadium, Abu Dhabi",Islamabad United,Quetta Gladiators
1102,10,Daren Sammy,2.0,0,21,0,10.50,2,1,1,3,0,2017.0,Dubai International Cricket Stadium,Peshawar Zalmi,Karachi Kings

In [5]:
# Extra column to drop

df.drop(columns = 'Unnamed: 0', inplace = True)

In [6]:
df.head()

,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
0,Anwar Ali,3.0,1,21,1,7.00,11,4,0,2,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Islamabad United
1,Anwar Ali,4.0,0,33,2,8.25,7,2,1,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Karachi Kings
2,Anwar Ali,4.0,0,38,1,9.50,10,1,2,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Peshawar Zalmi
3,Anwar Ali,4.0,0,27,1,6.75,10,2,1,1,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Lahore Qalandars
4,Anwar Ali,2.1,0,10,1,4.61,10,2,0,1,0,2016.0,Sharjah Cricket Stadium,Quetta Gladiators,Islamabad United

In [7]:
# check for duplicates
df.duplicated().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3292 entries, 0 to 3291
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bowlers        3292 non-null   object
 1   overs          3292 non-null   float64
 2   maiden         3292 non-null   int64
 3   runs           3292 non-null   int64
 4   wickets        3292 non-null   int64
 5   economy        3292 non-null   float64
 6   zeros          3292 non-null   int64
 7   fours          3292 non-null   int64
 8   sixes          3292 non-null   int64
 9   wides          3292 non-null   int64
 10  no_balls       3292 non-null   int64
 11  season         3280 non-null   float64
 12  stadium        3292 non-null   object
 13  team           3292 non-null   object
 14  opposing_team  3292 non-null   object
dtypes: float64(3), int64(8), object(4)
memory usage: 385.9+ KB

In [9]:
# checking for null values

df.isnull().sum()

bowlers           0
overs             0
maiden            0
runs              0
wickets           0
economy           0
zeros             0
fours             0
sixes             0
wides             0
no_balls          0
season           12
stadium           0
team              0
opposing_team     0
dtype: int64

In [10]:
# missing values in season

df[df.season.isnull()]

,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
135,Mohammad Nawaz,4.0,0,31,1,7.75,12,3,2,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
529,Sohail Tanvir,4.0,0,23,0,5.75,11,2,0,2,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
690,Dwayne Bravo,4.0,0,24,2,6.00,10,3,0,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
831,Wahab Riaz,4.0,0,19,1,4.75,11,1,0,2,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1224,Hasan Ali,4.0,0,29,0,7.25,8,4,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1333,Chris Jordan,3.0,0,38,0,12.66,5,4,2,1,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1413,Tymal Mills,4.0,0,31,0,7.75,9,5,0,1,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1612,Kieron Pollard,1.0,0,5,0,5.00,1,0,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
2351,Fawad Ahmed,4.0,0,22,1,5.50,10,1,1,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
2441,Mohammad Hasnain,4.0,0,30,3,7.50,9,4,0,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
2485,Sohaib Maqsood,1.0,0,8,0,8.00,2,1,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
2486,Nabi Gul,0.5,0,4,0,4.80,1,0,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators

In [11]:
# the values is missing from the final match played in national karachi stadium in 2019 season

df.season.fillna(2019, inplace=True)

In [12]:
df.season = df.season.astype(int)

In [13]:
# for making a total balls column

def fix_balls(over):
    if len(str(over).split('.')) == 2:
        balls = (int(str(over).split('.')[0]) * 6) + (int(str(over).split('.')[1]))
        return balls
    else:
        balls = int(overs * 6)

In [14]:
total_balls = df.overs.apply(fix_balls)

df.insert(2,'total_balls',total_balls)

In [15]:
df.sample(5)

,bowlers,overs,total_balls,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
1877,Faheem Ashraf,2.0,12,0,26,0,13.0,3,4,1,0,0,2020,Rawalpindi Cricket Stadium,Islamabad United,Peshawar Zalmi
2137,David Wiese,2.0,12,0,18,0,9.0,0,2,0,0,0,2019,Dubai International Cricket Stadium,Lahore Qalandars,Quetta Gladiators
3083,Akeal Hosein,4.0,24,0,30,1,7.5,12,5,0,2,0,2024,Multan Cricket Stadium,Quetta Gladiators,Multan Sultans
774,Mohammad Asghar,2.0,12,0,12,1,6.0,6,2,0,0,0,2016,Dubai International Cricket Stadium,Peshawar Zalmi,Quetta Gladiators
2692,Usman Qadir,4.0,24,0,22,2,5.5,7,1,0,0,0,2021,"Sheikh Zayed Stadium, Abu Dhabi",Multan Sultans,Islamabad United

In [16]:
df.shape

(3292, 16)

In [17]:
df.to_csv('Bowlers_performance_data.csv',index=False)