<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [21]:
import pandas as pd
import numpy as np

In [22]:
# load uncleaned data

path = r"C:\Users\aly98\Desktop\Portfolio project\psl project\Data Extraction BeautifulSoup\Bowlers_uncleaned_data.csv"

df = pd.read_csv(path)
df.head()

,Unnamed: 0,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
0,0,Anwar Ali,3.0,1,21,1,7.00,11,4,0,2,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Islamabad United
1,1,Anwar Ali,4.0,0,33,2,8.25,7,2,1,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Karachi Kings
2,2,Anwar Ali,4.0,0,38,1,9.50,10,1,2,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Peshawar Zalmi
3,3,Anwar Ali,4.0,0,27,1,6.75,10,2,1,1,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Lahore Qalandars
4,4,Anwar Ali,2.1,0,10,1,4.61,10,2,0,1,0,2016.0,Sharjah Cricket Stadium,Quetta Gladiators,Islamabad United

In [23]:
df.sample(10)

,Unnamed: 0,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
2241,3,Haris Rauf,4.0,0,35,1,8.75,11,3,1,2,0,2019.0,Sharjah Cricket Stadium,Lahore Qalandars,Multan Sultans
1711,26,Imran Tahir,4.0,0,32,1,8.00,6,1,2,1,0,2022.0,"National Stadium, Karachi",Multan Sultans,Lahore Qalandars
567,13,Imad Wasim,3.0,0,20,0,6.66,8,3,0,0,0,2017.0,Dubai International Cricket Stadium,Karachi Kings,Islamabad United
2048,7,Sameen Gul,1.0,0,9,0,9.00,2,0,1,0,0,2018.0,"National Stadium, Karachi",Peshawar Zalmi,Islamabad United
1778,6,Shaheen Shah Afridi,4.0,0,28,0,7.00,10,3,1,0,0,2018.0,Sharjah Cricket Stadium,Lahore Qalandars,Peshawar Zalmi
2024,7,Hussain Talat,1.0,0,5,0,5.00,2,0,0,0,0,2019.0,"National Stadium, Karachi",Islamabad United,Lahore Qalandars
13,13,Anwar Ali,4.0,0,30,2,7.50,7,1,1,1,0,2017.0,Dubai International Cricket Stadium,Quetta Gladiators,Karachi Kings
1369,16,Sunil Narine,4.0,0,22,2,5.50,11,1,1,1,0,2018.0,Sharjah Cricket Stadium,Lahore Qalandars,Quetta Gladiators
1514,2,Shadab Khan,1.0,0,14,0,14.00,0,1,1,0,0,2017.0,Sharjah Cricket Stadium,Islamabad United,Karachi Kings
1823,51,Shaheen Shah Afridi,4.0,0,39,1,9.75,9,3,2,2,0,2023.0,"National Stadium, Karachi",Lahore Qalandars,Karachi Kings

In [24]:
# Extra column to drop

df.drop(columns = 'Unnamed: 0', inplace = True)

In [25]:
df.head()

,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
0,Anwar Ali,3.0,1,21,1,7.00,11,4,0,2,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Islamabad United
1,Anwar Ali,4.0,0,33,2,8.25,7,2,1,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Karachi Kings
2,Anwar Ali,4.0,0,38,1,9.50,10,1,2,4,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Peshawar Zalmi
3,Anwar Ali,4.0,0,27,1,6.75,10,2,1,1,0,2016.0,Dubai International Cricket Stadium,Quetta Gladiators,Lahore Qalandars
4,Anwar Ali,2.1,0,10,1,4.61,10,2,0,1,0,2016.0,Sharjah Cricket Stadium,Quetta Gladiators,Islamabad United

In [26]:
# check for duplicates
df.duplicated().sum()

0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3292 entries, 0 to 3291
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bowlers        3292 non-null   object
 1   overs          3292 non-null   float64
 2   maiden         3292 non-null   int64
 3   runs           3292 non-null   int64
 4   wickets        3292 non-null   int64
 5   economy        3292 non-null   float64
 6   zeros          3292 non-null   int64
 7   fours          3292 non-null   int64
 8   sixes          3292 non-null   int64
 9   wides          3292 non-null   int64
 10  no_balls       3292 non-null   int64
 11  season         3280 non-null   float64
 12  stadium        3292 non-null   object
 13  team           3292 non-null   object
 14  opposing_team  3292 non-null   object
dtypes: float64(3), int64(8), object(4)
memory usage: 385.9+ KB

In [28]:
# checking for null values

df.isnull().sum()

bowlers           0
overs             0
maiden            0
runs              0
wickets           0
economy           0
zeros             0
fours             0
sixes             0
wides             0
no_balls          0
season           12
stadium           0
team              0
opposing_team     0
dtype: int64

In [29]:
# missing values in season

df[df.season.isnull()]

,bowlers,overs,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
135,Mohammad Nawaz,4.0,0,31,1,7.75,12,3,2,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
529,Sohail Tanvir,4.0,0,23,0,5.75,11,2,0,2,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
690,Dwayne Bravo,4.0,0,24,2,6.00,10,3,0,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
831,Wahab Riaz,4.0,0,19,1,4.75,11,1,0,2,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1224,Hasan Ali,4.0,0,29,0,7.25,8,4,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1333,Chris Jordan,3.0,0,38,0,12.66,5,4,2,1,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1413,Tymal Mills,4.0,0,31,0,7.75,9,5,0,1,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
1612,Kieron Pollard,1.0,0,5,0,5.00,1,0,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
2351,Fawad Ahmed,4.0,0,22,1,5.50,10,1,1,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
2441,Mohammad Hasnain,4.0,0,30,3,7.50,9,4,0,0,0,NaN,"National Stadium, Karachi",Quetta Gladiators,Peshawar Zalmi
2485,Sohaib Maqsood,1.0,0,8,0,8.00,2,1,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators
2486,Nabi Gul,0.5,0,4,0,4.80,1,0,0,0,0,NaN,"National Stadium, Karachi",Peshawar Zalmi,Quetta Gladiators

In [30]:
# the values is missing from the final match played in national karachi stadium in 2019 season

df.season.fillna(2019, inplace=True)

C:\Users\aly98\AppData\Local\Temp\ipykernel_4192\1295513777.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.season.fillna(2019, inplace=True)

In [31]:
df.season = df.season.astype(int)

In [32]:
# for making a total balls column

def fix_balls(over):
    if len(str(over).split('.')) == 2:
        balls = (int(str(over).split('.')[0]) * 6) + (int(str(over).split('.')[1]))
        return balls
    else:
        balls = int(overs * 6)

In [33]:
total_balls = df.overs.apply(fix_balls)

df.insert(2,'total_balls',total_balls)

In [34]:
df.sample(5)

,bowlers,overs,total_balls,maiden,runs,wickets,economy,zeros,fours,sixes,wides,no_balls,season,stadium,team,opposing_team
716,Cameron Delport,3.0,18,0,24,2,8.00,6,2,1,1,0,2019,"National Stadium, Karachi",Islamabad United,Peshawar Zalmi
3137,Tabraiz Shamsi,4.0,24,0,45,0,11.25,5,6,1,0,0,2024,Multan Cricket Stadium,Karachi Kings,Multan Sultans
899,Shahid Afridi,2.0,12,0,15,0,7.50,6,1,1,0,0,2018,Dubai International Cricket Stadium,Karachi Kings,Lahore Qalandars
3013,Zaman Khan,3.0,18,0,18,0,6.00,8,0,1,1,0,2023,"National Stadium, Karachi",Lahore Qalandars,Quetta Gladiators
2710,Saqib Mahmood,4.0,24,0,22,2,5.50,12,1,1,0,0,2021,"National Stadium, Karachi",Peshawar Zalmi,Lahore Qalandars

In [35]:
import pandas as pd

# Example DataFrame

# Rename columns
df.rename(columns={
    'bowlers': 'bowler',
    'maiden': 'maidens',
    'runs': 'runs_conceded',
    'wickets': 'wickets_taken',
    'economy': 'economy_rate',
    'zeros': 'dot_balls',
    'fours': 'fours_conceded',
    'sixes': 'sixes_conceded',
    'wides': 'wide_balls',
    'stadium': 'venue',
    'team': 'team_name',
    'opposing_team': 'opponent_name'
}, inplace=True)

# Display the updated DataFrame
df.head()

,bowler,overs,total_balls,maidens,runs_conceded,wickets_taken,economy_rate,dot_balls,fours_conceded,sixes_conceded,wide_balls,no_balls,season,venue,team_name,opponent_name
0,Anwar Ali,3.0,18,1,21,1,7.00,11,4,0,2,0,2016,Dubai International Cricket Stadium,Quetta Gladiators,Islamabad United
1,Anwar Ali,4.0,24,0,33,2,8.25,7,2,1,4,0,2016,Dubai International Cricket Stadium,Quetta Gladiators,Karachi Kings
2,Anwar Ali,4.0,24,0,38,1,9.50,10,1,2,4,0,2016,Dubai International Cricket Stadium,Quetta Gladiators,Peshawar Zalmi
3,Anwar Ali,4.0,24,0,27,1,6.75,10,2,1,1,0,2016,Dubai International Cricket Stadium,Quetta Gladiators,Lahore Qalandars
4,Anwar Ali,2.1,13,0,10,1,4.61,10,2,0,1,0,2016,Sharjah Cricket Stadium,Quetta Gladiators,Islamabad United

In [37]:
df.shape

(3292, 16)

In [38]:
df.to_csv('Bowlers_performance_data.csv',index=False)